server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:tasker;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

logging:
  level:
    root: info
